{% extends 'base.html' %}


{% block content %}
<h1><i class="medium material-icons">pets</i>Add Pet</h1>  

<form action="" method="POST" class="row center">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit" class="btn blue darken-4" />
</form>


<script>
    const dateEl = document.getElementById('id_birthday');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
</script>
{% endblock content %}
    