{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s4">
        <div class="card">
          <div class="card-image">
            {% for photo in pet.photo_set.all %}
            <img src="{{ photo.url }}">
            {% empty %}
            <div class="card-panel blue-text center-align">No Photos Uploaded</div>
            {% endfor %}
          </div>
          <div class="card-content">
            <p>Name: {{ pet.name }}</p> 
            <p>Type: {{ pet.type }}</p>
            <p>Subtype: {{ pet.subtype }}</p>
            <p>Sex: {{ pet.sex }}</p>
            <p>Birthday: {{ pet.birthday }}</p>
            <p>Color: {{ pet.color }}</p>
            <p>Weight: {{ pet.weight }}lbs</p>
          </div>
          <div class="card-action">
            <a href="{% url 'pets_update' pet.id %}">Edit</a>
            <a href="{% url 'pets_delete' pet.id %}">Delete</a>
        </div>
        </div>
        <div id="upload">
            <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn blue darken-4" value="Upload Profile"><i class=" small material-icons">add_a_photo</i>
            </form>
        </div>
    </div>
    <div class="col s4 offset-s4">
        <div class="card">
            <div class="card-content">
                <h2 class="center-align">Vet Info</h2>
                <p>Vet Name:{{ vet.name }}</p>
                <p>Address:{{ vet.address }}</p>
                <p>Email:{{ vet.email }}</p>
                <p>Phone Number:{{ vet.phone }}</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a href="#">Prescriptions</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test4">
                    <form method="post" action="{% url 'add_checkup' pet.id %}">
                        {% csrf_token %}
                        {{ checkup_form.as_p }}
                        <input type="submit" class="btn blue darken-4" value="Add Prescriptions">
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="col s4 ">
        <div class="card-content">
            {% if pet.prescriptions.count %}
                {% for point in apidata %}
                    <div class="card">
                        <div class="card-content">
                            <p>{{ point.dosage }} of {{ point.name }}. Refills: {{ point.refills }}</p>
                            <p>{{ point.generic.0 }} | {{ point.active.0 }} | {{ point.purpose.0 }} | {{ point.usage.0 }} | </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="center-align">No Prescriptions</h5>
            {% endif %}
        </div>
    </div>
</div>

<div class="col s6">
    <form method="post" action="{% url 'add_checkup' pet.id %}">
        <label><h7>Pet:</h7></label>
        <div><h5>{{ pet.name }}</h5></div>
        {% csrf_token %}
        {{ checkup_form.as_p }}
        <input type="submit" class="btn blue darken-4" value="Add Checkup">
    </form>

</div>

    <div class="card">
        <div class="col s6">
            {% if pet.checkup_set.count %}
            {% for checks in pet.checkup_set.all %}
                <div class="card">
                    <div class="card-action">
                        <a href="{% url 'checkup_update' checks.id %}">Edit</a>
                        
                      </div> 
                <div class="card-content">
                    
                    {% for photo in checkup_photos %}
                    {% if photo.checkup == checks %}
                    <img src="{{ photo.url }}">
                    {% endif %}
                    {% empty %}
                    <div class="card-panel blue-text center-align">No Photos Uploaded</div>
                    
                    {% endfor %}
                    
                    <h5>{{ checks.pet.name }}</h5>
                    <p>{{ checks.note }}</p>
                    <form action="{% url 'add_cuphoto' pet.id checks.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                        {% csrf_token %}
                       <input type="file" name="photo-file">
                       <br><br>
                       <input type="submit" class="btn blue darken-4" value="Upload">
                    </form>
                    </span>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <h5 class="center-align">No Check Ups</h5>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}



    