{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s4">
        <div class="card">
          <div class="card-image">
            {% for photo in pet.photo_set.all %}
            <img src="{{ photo.url }}">
            {% empty %}
            <div class="card-panel blue-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <a class="btn-floating halfway-fab waves-effect waves- blue darken-4">
                <i class="material-icons">add</i>
                <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <input type="submit" class="btn" value="Upload Photo">
                </form>
            </a>
          </div>
          <div class="card-content">
            <p>Name: {{ pet.name }}</p> 
            <p>Type: {{ pet.type }}</p>
            <p>Subtype: {{ pet.subtype }}</p>
            <p>Sex: {{ pet.sex }}</p>
            <p>Birthday: {{ pet.birthday }}</p>
            <p>Color: {{ pet.color }}</p>
            <p>Weight: {{ pet.weight }}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'pets_update' pet.id %}">Edit</a>
            <a href="{% url 'pets_delete' pet.id %}">Delete</a>
        </div>
        </div>
    </div>
    <div class="col s4 offset-s4">
        <div class="card">
            <div class="card-content">
                <p>Vet Name:{{ vet.name }}</p>
                <p>Address:{{ vet.address }}</p>
                <p>Email:{{ vet.email }}</p>
                <p>Phone Number:{{ vet.phone }}</p>
            </div>
        </div>
    </div>
</div>

<div id="upload">
    <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn blue darken-4" value="Upload Photo">
    </form>
</div>

<div class="card">
    <div class="col s4">
        <div class="card-content">
            {% if pet.prescription.count %}
                {% for prescription in pet.prescription.all %} 
                    <div class="card">
                        <div class="card-content">
                            <p>{{ pet.prescription }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="center-align">No Prescriptions</h5>
            {% endif %}
        </div>
    </div>
</div>

<div class="col s6">
    <form method="post" action="{% url 'add_checkup' pet.id %}">
        <label><h7>PET:</h7></label>
        <div><h5>{{ pet.name }}</h5></div>
        {% csrf_token %}
        {{ checkup_form.as_p }}
        <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
           <input type="file" name="photo-file">
           <br><br>
           <input type="submit" class="btn blue darken-4" value="Add Checkup">
           </form>
        <!-- <input type="submit" class="btn" value="Add Checkup"> -->
    </form>
    

</div>

    <div class="card">
        <div class="col s6">
            {% if pet.checkup_set.count %}
            {% for checkup in pet.checkup_set.all %}
                <div class="card">
                <div class="card-content">
                    <!-- {{ checkup.photo }} -->
                    <p>{{ checkup.date }}</p>
                    <h5>{{ checkup.pet.name }}</h5>
                    <p>{{ checkup.note }}</p>
                    </span>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <h5 class="center-align">No Check Ups</h5>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
  
    const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl)
</script>
{% endblock content %}



    