{% extends 'base.html' %}


{% block content %}

<h1>Pet List</h1>

{% for group in user_groups %}
{% if group.name == 'client' %}
{% for pet in pets %}
<a href="{% url 'detail' pet.id %}">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ pet.name }}</span>
        <p>Type: {{ pet.type }}</p>
        <p>Subtype: {{ pet.subtype }}</p>
        <p>Sex: {{ pet.sex }}</p>
        <p>Birthday: {{ pet.birthday }}</p>
        <p>Color: {{ pet.color }}</p>
        <p>Weight: {{ pet.weight }}lbs</p>
    </div>
</div>
</a>

{% endfor %}

{% elif group.name == 'vet' %}
{% for pet in this_vet_pets %}
<a href="{% url 'detail' pet.id %}">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ pet.name }}</span>
        <p>Type: {{ pet.type }}</p>
        <p>Subtype: {{ pet.subtype }}</p>
        <p>Sex: {{ pet.sex }}</p>
        <p>Birthday: {{ pet.birthday }}</p>
        <p>Color: {{ pet.color }}</p>
        <p>Weight: {{ pet.weight }}lbs</p>
    </div>
</div>
</a>

{% endfor %}
{% endif %}

{% endfor %}
{% endblock %}
    