{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Health Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka+One&family=Londrina+Shadow&family=Poiret+One&display=swap');
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="{% url 'about' %}" id="title-header" class="brand-logo">Pet Health Tracker</a>
          <img class="logo" src="https://github.com/haileylujah/Project-3-phtdb/blob/master/main_app/imgs/phtlogo.png?raw=true">
          <ul class="links right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'pets_create' %}">Add Pet</a></li>
                <li><a href="{% url 'index' %}">View Pets</a></li>
                <li><a href="{% url 'logout'%}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" >Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
      </nav>
     <main class="container">
         {% block content %}
         {% endblock %}
     </main>
     <footer class="page-footer blue darken-4 ">
        <div class="center">All Rights Reserved, &copy; 2022 Pet Health Tracker &nbsp;</div>
     </footer>
</body>
</html>