{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Health Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka+One&family=Londrina+Shadow&family=Poiret+One&display=swap');
    </style>
</head>
<body>
    <header class="navbar blue darken-2">
        <nav>
            <h1 id="title-header" class="center-align light-blue lighten-3 black-text text-darken-1"> Pet Health Tracker </h1>
            <div class="navbar-wrapper">
                <img src="phtlogo.png" class="brand-logo right">
                <ul class="links">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'pets_create' %}" >Add Pet</a></li>
                    <li><a href="{% url 'index' %}">View Pets</a></li>
                    <li><a href="{% url 'logout'%}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li><a href="{% url 'about' %}" >About</a></li>
                </ul>
            </div>
        </nav>
    </header>
     <main class="container">
         {% block content %}
         {% endblock %}
     </main>
     <footer class="page-footer blue darken-2">
        <div class="center">All Rights Reserved, &copy; 2022 Pet Health Tracker &nbsp;</div>
     </footer>
</body>
</html>