body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e1f5fe;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

#title-header {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
}

h1 {
    text-align: center;
    font-family:'Fredoka One', cursive;
    -webkit-text-stroke: 3px black;
    color: white;
}

span {
    color: #e1f5fe;
    -webkit-text-stroke: 1px black;
    font-size: large;
    font-family: 'Fredoka One', cursive;
}

p{
    color: black;
    font-size: medium;
}

.datepicker-date-display {
    background-color: #0d47a1 !important;
}

.datepicker-day-button:focus {
    color: white !important;
    background-color: #0d47a1
}
.select-dropdown li>span {
    color: #e1f5fe !important
}

.is-today {
    color: #0d47a1 !important
}

.datepicker-done,
.datepicker-cancel {
    color: black !important;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: #0d47a1 !important
}

td.is-selected.is-today {
    color: white !important
}

.logo {
    height: 60px;
    margin-right: 0px;
    margin-left: 620px;
    display: absolute;
}



  




